body {
    background-color: rgb(28, 114, 212);
}


.Header {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 1em;
    margin-bottom: 2em;
    background-color:rgb(60, 163, 231);
    color: #fff;
}

.logo {
   
}